@model IEnumerable<INV_Project.Models.PTRANSwithName>

@{
    ViewBag.Title = "Ptrans";
}

<h2>廠商歷史價</h2>
<table class="table table-hover table-dark">
    <tr>
        <th class="h1">
            廠商號碼
        </th>
        <th class="h1">
            廠商名稱
        </th>
        <th class="h1">
            成交日
        </th>
        <th class="h1">
            成交價
        </th>
        <th class="h1">
            成交量
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="h1">
                @Html.DisplayFor(modelItem => item.CODE)
            </td>
            <td class="h1">
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td class="h1">
                @Html.DisplayFor(modelItem => item.TRN_DATE)
            </td>
            <td class="h1">
                @Html.DisplayFor(modelItem => item.PRICE)
            </td>
            <td class="h1">
                @Html.DisplayFor(modelItem => item.QTY)
            </td>
        </tr>
    }

</table>
<script>
    if (navigator.userAgent.indexOf("MSIE") > 0) {
        //IE
        document.onkeyup = function () {
            switch (event.keyCode) {
                case 27:
                    history.go(-1);
                    break;
            }
        }
    }
    else {
        window.onkeyup = function () {
            switch (event.keyCode) {
                case 27:
                    history.go(-1);
                    break;
            }

        }
    }
</script>