@model INV_Project.Models.FACTORY
@{
    ViewData["Title"] = "廠商基本資料";
    if (TempData["Inser_Code"]!=null)
    {
        <script type="text/javascript">
            alert("新增失敗，廠商編號重複");
        </script>
    }
}
<main role="main" class="inner cover">
    <h1>廠商基本資料</h1>

    <table class="table table-hover table-dark">
        <tbody id="tbodyshow" align="left">
            <tr>
                <td colspan="4" class="h1">廠商編號: @Html.DisplayFor(modelItem => modelItem.FACT_CODE)</td>

            </tr>
            <tr>
                <td colspan="4" class="h1">廠商名稱: @Html.DisplayFor(modelItem => modelItem.FACT_NAME)</td>
            </tr>
            <tr>
                <td colspan="4" class="h1">公司地址: @Html.DisplayFor(modelItem => modelItem.ADDRESS1)</td>
            </tr>
            <tr>
                <td colspan="4" class="h1">發票地址: @Html.DisplayFor(modelItem => modelItem.ADDRESS2)</td>

            </tr>
            <tr>
                <td colspan="2" class="h1">統一編號: @Html.DisplayFor(modelItem => modelItem.UNIFORM)</td>
                <td colspan="2" class="h1">付款方式: @Html.DisplayFor(modelItem => modelItem.PAY_WAY)</td>
            </tr>
            <tr>
                <td colspan="4" class="h1">聯絡人: @Html.DisplayFor(modelItem => modelItem.ATTENTION)</td>
            </tr>
            <tr>
                <td colspan="4" class="h1">電話: @Html.DisplayFor(modelItem => modelItem.TELEPHONE)</td>
            </tr>
            <tr>
                <td colspan="4" class="h1">傳真: @Html.DisplayFor(modelItem => modelItem.FAX)</td>
            </tr>
            <tr>
                <td colspan="3" class="h1">備註: @Html.DisplayFor(modelItem => modelItem.REMARK)</td>
                <td class="h1">異動日期: @Html.DisplayFor(modelItem => modelItem.TRN_DATE) </td>
            </tr>
        </tbody>
    </table>
</main>
<footer class="mastfoot mt-auto">
    <div class="inner">
        <table class="table  table-dark">
            <tbody align="left">
                <tr>
                    <td class="h3">1>查詢</td>
                    <td class="h3">2>新增</td>
                    <td class="h3">3>更改</td>
                    <td class="h3">4>刪除</td>
                    <td class="h3">5>印表</td>
                    <td class="h3">6>印信封,掛號單</td>
                    <td class="h3">8>成交價</td>
                </tr>
                <tr>
                    <td class="h3">A>應付帳</td>
                    <td class="h3">C>複製</td>
                    <td class="h3">+>下筆</td>
                    <td class="h3">->上筆</td>
                    <td class="h3">*>多筆</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</footer>
<script src="~/Scripts/jquery-1.10.2.js"
        integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        var id = "@Model.ID";
        var FCODE = "@Model.FACT_CODE";
        var page = "Factory";
if (navigator.userAgent.indexOf("MSIE") > 0) {
    //IE
    document.onkeyup = function () {
        switch (event.keyCode) {
            case 49:
                window.location.href = '/'+page+'/Search';
                break;
            case 50:
                alert('2');
                break;
            case 51:
                window.location.href = '/'+page+'/Insert';
                break;
            case 52:
                alert('4');
                break;
            case 53:
                alert('5');
                break;
            case 54:
                alert('6');
                break;
            case 55:
                alert('7');
                break;
            case 56:
                window.location.href = '/'+page+'/FactItem?FACT_CODE='+FCODE;
                break;
            case 65:
                alert('A');
                break;
            case 67:
                alert('C');
                break;
            case 87:
                alert('W');
                break;
            case 85:
                alert('U');
                break;
        }
    }
}
else {
    window.onkeyup= function () {
        switch (event.keyCode) {
            case 49:
            case 97:
                window.location.href = '/'+page+'/Search';
                break;
            case 50:
            case 98:
                window.location.href = '/'+page+'/Insert';
                break;
            case 51:
            case 99:
                window.location.href = '/'+page+'/Update?id=' + id;
                break;
            case 52:
            case 100:
                var password = prompt("請輸入密碼", "")
                if (password != "" && password != null)
                    window.location.href = '/'+page+'/Delete?id=' + id + '&password=' + password;
                break;
            case 53:
                alert('5');
                break;
            case 54:
                alert('6');
                break;
            case 55:
                alert('7');
                break;
            case 56:
            case 104:
                window.location.href = '/'+page+'/FactItem?FACT_CODE='+FCODE;
                break;
            case 65:
                window.location.href = '/'+page+'/FactRec?CODE='+FCODE;
                break;
            case 67:
                alert('C');
                break;
            case 87:
                alert('W');
                break;
            case 85:
                alert('U');
                break;
            case 109:
                Sajax(0);
                break;
            case 107:
                Sajax(1);
                break;
            case 27:
                window.location.href = '/Home/Index';
                break;

        }
    }
        }
        var apiurl = location.protocol + "//" + location.hostname + ":" + location.port + "/api/" + page;

    function Sajax(tmp) {
    $.ajax({
        url: apiurl + "?id=" + id + "&preOrNext=" + tmp,
        type: 'GET',
        success: function (data) {
            if (data != null) {
                $("#tbodyshow").empty();
                id = data.ID;
                FCODE = data.FACT_CODE;
                $("#tbodyshow").append(
                    '<tr><td colspan="4" class="h1">廠商編號: ' + data.FACT_CODE + '</td ></tr>' +
                    '<tr><td colspan = "4" class= "h1" > 廠商名稱: ' + data.FACT_NAME + '</td ></tr>' +
                    '<tr><td colspan = "4" class= "h1" > 公司地址: ' + data.ADDRESS1 + '</td ></tr>' +
                    '<tr><td colspan = "4" class= "h1" > 發票地址: ' + data.ADDRESS2 + '</td ></tr>' +
                    '<tr><td colspan="2" class="h1">統一編號: ' + data.UNIFORM + '</td>' +
                    '<td colspan="2" class="h1">付款方式: ' + data.PAY_WAY + '</td></tr>' +
                    '<tr><td colspan="4" class="h1">聯絡人: ' + data.ATTENTION + '</td></tr>' +
                    '<tr><td colspan="4" class="h1">電話: ' + data.TELEPHONE + '</td></tr>' +
                    '<tr><td colspan="4" class="h1">傳真: ' + data.FAX + '</td></tr >' +
                    '<tr><td colspan="3" class="h1">備註: ' + data.REMARK + '</td>' +
                    '<td colspan="2" class="h1">異動日期: ' + data.TRN_DATE + '</td></tr>'
                );
                var date = new Date();
                date.setTime(date.getTime() + (1 * 24 * 60 * 60 * 1000));
                var expires = "; expires=" + date.toGMTString();
                document.cookie = "FID=" + id + expires + "; path=/";
            }
            else {
                alert("已達最後一筆");
            }

        }

    });
}
});
</script>

