@model INV_Project.Models.FACTORY
@{
    ViewData["Title"] = "廠商基本資料";
}
<style>
    input {
        padding: 0px 5px;
        background: #ccc;
        border: 2px black solid;
        color: forestgreen;
        max-width: 1000px;
        width: 100%;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "target" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID, new { style = "width:300px" })
    <main role="main" class="inner cover">
        <h1>廠商基本資料</h1>
        <div class="form-group">
            <table class="table table-hover table-dark">
                <tbody align="left">
                    <tr>
                        <td colspan="4" class="h1">
                            廠商編號: @Html.DisplayFor(model => model.FACT_CODE, new { style = "width:300px" })

                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="h1">廠商名稱: @Html.TextBoxFor(modelItem => modelItem.FACT_NAME, new { style = "width:300px" })</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="h1">公司地址: @Html.TextBoxFor(modelItem => modelItem.ADDRESS1)</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="h1">發票地址: @Html.TextBoxFor(modelItem => modelItem.ADDRESS2)</td>

                    </tr>
                    <tr>
                        <td colspan="2" class="h1">統一編號: @Html.TextBoxFor(modelItem => modelItem.UNIFORM, new { style = "width:300px" })</td>
                        <td colspan="2" class="h1">付款方式: @Html.TextBoxFor(modelItem => modelItem.PAY_WAY, new { style = "width:200px" })</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="h1">聯絡人: @Html.TextBoxFor(modelItem => modelItem.ATTENTION, new { style = "width:300px" })</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="h1">電話: @Html.TextBoxFor(modelItem => modelItem.TELEPHONE, new { style = "width:300px" })</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="h1">傳真: @Html.TextBoxFor(modelItem => modelItem.FAX, new { style = "width:300px" })</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="h1">備註: @Html.TextBoxFor(modelItem => modelItem.REMARK, new { style = "width:300px" })</td>
                        <td class="h1">異動日期: @Html.DisplayFor(modelItem => modelItem.TRN_DATE) </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <input type="submit" value="儲存" class="btn btn-danger btn-lg" accesskey="s" />
        </div>
    </main>
}
<script src="~/Scripts/jquery-1.10.2.js"
        integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo="
        crossorigin="anonymous"></script>
<script>
    document.getElementById('FACT_NAME').focus();
    /*function checkForm() {
        var searchText = $("#FACT_CODE").val().toString();
        if (searchText == "") {
            alert("廠商編號不得為空!")
            return false;
        }
        else {
            return true;

        }
    }*/
        if (navigator.userAgent.indexOf("MSIE") > 0) {
            //IE
            document.onkeyup = function () {
                switch (event.keyCode) {                 
                    case 27:
                        window.location.href = '/Factory/Index';
                        break;
                }
            }
        }
        else {
            window.onkeyup = function () {
                switch (event.keyCode) {                 
                    case 27:
                        window.location.href = '/Factory/Index';
                        break;
                }
            }
        }
</script>


