@model IEnumerable<INV_Project.Models.CustREC>

@{
    ViewBag.Title = "RECMON";
}

@{
    ViewBag.Title = "CustItem";
    var id = TempData["CUST_CODE"];
    var name = TempData["CUST_NAME"];
}
<style>
table {
  position: relative;
  overflow: hidden;
  border-collapse: collapse;
}
/*thead*/
thead {
  position: relative;
  display: block; /*seperates the header from the body allowing it to be positioned*/
  width: 700px;
  overflow: visible;
}
thead th {
  min-width: 180px;
  height: 32px;
}
thead th:nth-child(1) {/*first cell in the header*/
  position: relative;
   /*seperates the first cell in the header from the header*/
  height: 60px;
  background-color: #343a40;
}
/*tbody*/
tbody {
  position: relative;
  display: block; /*seperates the tbody from the header*/
  width:1880px;
  height: 600px;
  overflow: scroll;
}
tbody td {
  min-width: 180px;
}
tbody tr td:nth-child(1) {  /*the first cell in each tr*/
  position: relative;
  height: 60px;
  background-color: #343a40;
}
    </style>
<h1>客戶編號 : @id</h1>
<h1>客戶名稱 : @name</h1>
<table class="table-dark table-bordered table-hover">
    <thead>
        <tr>
            <th class="h2">
                月份
            </th>
            <th class="h2" colspan="2">
                銷貨金額
            </th>
            <th class="h2">
                稅金
            </th>
            <th class="h2" colspan="2">
                沖帳金額
            </th>
            <th class="h2">
                折讓
            </th>
            <th class="h2" colspan="2">
                應收餘額
            </th>
            <th class="h2">
                機器
            </th>
            <th class="h2">
                材料
            </th>
            <th class="h2 ">
                服務
            </th>
            <th class="h2 text-warning">
                收款單
            </th>
            <th class="h2 text-warning">
                日期
            </th>
            <th class="h2 text-warning" colspan="2">
                票據號碼
            </th>
            <th class="h2 text-warning" colspan="2">
                兌現日期
            </th>
            <th class="h2 text-warning">
                款
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var date_year = int.Parse(item.MON_DATE.Split('.')[0]);
            if (date_year >= 102)
            {
                <tr>
                    <td class="h2">
                        @Html.DisplayFor(modelItem => item.MON_DATE)
                    </td>
                    <td class="h2" colspan="2">
                        @Html.DisplayFor(modelItem => item.SAL_AMT)
                    </td>
                    <td class="h2">
                        @Html.DisplayFor(modelItem => item.TAX_AMT)
                    </td>
                    <td class="h2" colspan="2">
                        @Html.DisplayFor(modelItem => item.REC_AMT)
                    </td>
                    <td class="h2">
                        @Html.DisplayFor(modelItem => item.DISC)
                    </td>
                    <td class="h2" colspan="2">
                        @Html.DisplayFor(modelItem => item.TOT_AMT)
                    </td>
                    <td class="h2">
                        @Html.DisplayFor(modelItem => item.AMO1)
                    </td>
                    <td class="h2">
                        @Html.DisplayFor(modelItem => item.AMO2)
                    </td>
                    <td class="h2">
                        @Html.DisplayFor(modelItem => item.AMO3)
                    </td>
                    <td class="h2 text-warning">
                        @Html.DisplayFor(modelItem => item.REC_NO)
                    </td>
                    <td class="h2 text-warning">
                        @Html.DisplayFor(modelItem => item.TRN_DATE)
                    </td>
                    <td class="h2 text-warning" colspan="2">
                        @Html.DisplayFor(modelItem => item.CHNO)
                    </td>
                    <td class="h2 text-warning" colspan="2">
                        @Html.DisplayFor(modelItem => item.CASH)
                    </td>
                    <td class="h2 text-warning">
                        @Html.DisplayFor(modelItem => item.D_NO)
                    </td>
                </tr>
            }

        }
    </tbody>
    
</table>
<script type="text/javascript">
    $(document).ready(function () {
  $('tbody').scroll().focus();
  $('tbody').scroll(function(e) { //detect a scroll event on the tbody
  	/*
    Setting the thead left value to the negative valule of tbody.scrollLeft will make it track the movement
    of the tbody element. Setting an elements left value to that of the tbody.scrollLeft left makes it maintain 			it's relative position at the left of the table.    
    */
    $('thead').css("left", -$("tbody").scrollLeft()); //fix the thead relative to the body scrolling
    $('thead th:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first cell of the header
    $('tbody td:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first column of tdbody
  });
});
    if (navigator.userAgent.indexOf("MSIE") > 0) {
        //IE
        document.onkeyup = function () {
            switch (event.keyCode) {
                case 27:
                    history.go(-1);
                    break;
            }
        }
    }
    else {
        window.onkeyup = function () {
            switch (event.keyCode) {
                case 27:
                    history.go(-1);
                    break;
            }

        }
    }
</script>