@model INV_Project.Models.PURCHASE
@{
    ViewData["Title"] = "Sales";
    var year = DateTime.Now.Year - 1911;
    var month = "" + DateTime.Now.Month;
    var day = "" + DateTime.Now.Day;
    if (DateTime.Now.Month < 10)
    { month = "0" + month; }
    if (DateTime.Now.Day < 10)
    { day = "0" + day; }
    var today = year + "." + month + "." + day;
    var ym = year + "." + month;
}
<style>
    input {
        padding: 0px 5px;
        background: #ccc;
        border: 2px black solid;
        color: forestgreen;
        max-width: 1000px;
        width: 100%;
    }

    .select2-selection__rendered {
        line-height: 50px !important;
    }

    .select2-container .select2-selection--single {
        height: 50px !important;
    }

    .select2-selection__arrow {
        height: 50px !important;
    }

    .dropdownCssClass {
        font-size: 25px;
        text-align: left;
        color: black;
    }

    .containerCssClass {
        font-size: 30px;
        text-align: center;
        color: black;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "target" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.TRN_NO, new { @Value = "", style = "width:300px" })
    @Html.HiddenFor(model => model.TRN_DATE, new { @Value = "", style = "width:300px" })
    @Html.HiddenFor(model => model.CODE, new { @Value = "", style = "width:300px" })
    @Html.HiddenFor(model => model.ACC_DATE, new { @Value = ym, style = "width:300px" })
    @Html.HiddenFor(model => model.TAX, new { @Value = 0, style = "width:300px" })
    @Html.HiddenFor(model => model.ACC_YN, new { @Value = "Y", style = "width:300px" })
    @Html.HiddenFor(model => model.PAY_WAY, new { @Value = "", style = "width:300px" })
    @Html.HiddenFor(model => model.REMARK1, new { @Value = "", style = "width:300px" })
    @Html.HiddenFor(model => model.AMO3, new { @Value = 0, style = "width:300px" })
    @Html.HiddenFor(model => model.AMO2, new { @Value = 0, style = "width:300px" })
    @Html.HiddenFor(model => model.AMO1, new { @Value = 0, style = "width:300px" })
    @Html.HiddenFor(model => model.INV_NO, new { @Value = "", style = "width:300px" })
}
<main role="main" class="inner cover">
    <div class="container-fluid h1 text-left bg-dark" style="border:3px #808080 solid;padding:5px;">
        <div class="row">
            <div id="TRN_NO_txt" class="col-lg-3">單據號碼: </div>
            <div id="TRN_DATE_txt" class="col-lg-5">進貨日期: <input id="TRN_DATE_input" maxlength="9" style="width:200px" type="text" value="@today" /><div id="TRN_V" class="bg-danger h4" style="text-align:center;width:50%">請填入正確的格式</div></div>
            <div id="ACC_DATE_txt" class="col-lg-4">付款月份: <input id="ACC_DATE_input" maxlength="6" style="width:150px" type="text" value="@ym" /><div id="ACC_V" class="bg-danger h4" style="text-align:center;width:55%">請填入正確的格式</div></div>
            <div class="w-100"></div>
            <div id="FACT_CODE_txt" class="col-lg-3">廠商號碼: <select id="itemCode" style="width:250px;"></select><div id="FACT_V" class="bg-danger h4" style="text-align:center;width:95%">請選擇客戶</div></div>
            <div id="ATTENTION" class="col-lg-5">聯 絡 人: </div>
            <div id="TELEPHONE" class="col-lg-4">電&emsp;&emsp;話: </div>
            <div class="w-100"></div>
            <div id="FACT_NAME" class="col-lg-8">廠商名稱: </div>
            <div id="UNIFORM" class="col-lg-4">統一編號: </div>
            <div class="w-100"></div>
            <div id="PAY_WAY_txt" class="col-lg-8">付款方式: </div>
            <div class="col-lg-4">發票號碼: </div>
            <div class="w-100"></div>
            <div id="TAX_txt" class="col-lg-3">稅&emsp;&emsp;率: <select id="TAXSelect" style="width:150px;"></select></div>
            <div class="col-lg-5">&emsp;&emsp;帳別: Y</div>
            <div class="col-lg-4">會計傳票: </div>
            <div class="w-100"></div>
            <div id="REMARK_txt" class="col-lg-12">備&emsp;&emsp;註: <input id="REMARK_input" style="width:500px" type="text" /></div>
            <div class="w-100"></div>
            <div id="control_I" class="col-lg-4 text-warning">案F8新增產品</div>
            <div id="Item_history" class="col-lg-8 text-success">上次成交價:100元, 成本:50元</div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table id="table"
                       data-toggle="table"
                       data-height="460"
                       data-unique-id="id"
                       class="table table-dark table-bordered">
                    <thead class="bg-primary">
                        <tr>
                            <th data-field="ITEM_NO">
                                產品號碼
                            </th>
                            <th data-field="ITEM_NAME">
                                品名規格
                            </th>
                            <th data-field="PRICE">
                                單價
                            </th>
                            <th data-field="QTY">
                                數量
                            </th>
                            <th data-field="AMOUNT">
                                金額
                            </th>
                            <th data-field="ORD_NO">
                                備註
                            </th>
                            <th data-field="delete"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="container-fluid h3 text-left bg-dark" style="border:3px #808080 solid;padding:5px;">
        <div class="row">
            <div class="col-lg-2">銷貨合計: </div>
            <div id="SUMAMT" class="col-lg-2">0</div>
            <div class="col-lg-2">稅&emsp;&emsp;額: </div>
            <div id="TAXAMT" class="col-lg-2">0</div>
            <div class="col-lg-2">銷貨總額: </div>
            <div id="TOTAMT" class="col-lg-2">0</div>
        </div>
    </div>
</main>
<script>
    var itemEnable = false;
    $(document).ready(function () {
        $("#TRN_V").hide();
        $("#ACC_V").hide();
        $("#control_I").hide();
        $("#Item_history").hide();
        $('#TRN_DATE_input').select();
        // 單據號碼控制
        function TRN_NO_Control() {
            if ($('#TRN_DATE_input').val().length == 9) {
                var value = $('#TRN_DATE_input').val();
                var apiurl = location.protocol + "//" + location.hostname + ":" + location.port + "/api/PurchaseInsert";
                $.ajax({
                    url: apiurl + "?TRN_DATE=" + value,
                    type: 'GET',
                    success: function (data) {
                        console.log(data);
                        if (data != null) {
                            var newTRN_NO = Number(data.TRN_NO) + 1;
                            $("#TRN_NO_txt").html("單據號碼: " + newTRN_NO);
                            $("#TRN_NO").val(newTRN_NO);
                        }
                        else {
                            var trn_ary = value.split('.');
                            var newTRN_NO = trn_ary[0] + trn_ary[1] + "001";
                            $("#TRN_NO_txt").html("單據號碼: " + newTRN_NO);
                            $("#TRN_NO").val(newTRN_NO);
                        }
                    }

                });
            }
        }

        // 單據號輸入框
        $('#TRN_DATE_input').on('keyup', function () {
            var key = event.keyCode
            if ($(this).val().length != 9) {
                $("#TRN_V").show();
                $('#TRN_DATE').val("");

            }
            else {
                TRN_NO_Control()
                $("#TRN_V").hide();
                $('#TRN_DATE').val($(this).val());

            }
            if (key == 13) {
                if ($(this).val().length == 9) {
                    $('#ACC_DATE_input').select();
                    TRN_NO_Control()
                }
            }
            if (key == 8)
                $(this).val('')
            if ($(this).val().length == 3)
                $(this).val($(this).val() + ".");
            else if ($(this).val().length == 6)
                $(this).val($(this).val() + ".");
            else if (key == 110 || key == 190)
                $(this).val($(this).val().substring(0, $(this).val().length - 1));
            $(this).val($(this).val().replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g, ''));


        });
        // 收款月份控制
        $('#ACC_DATE_input').on('keyup', function () {
            var key = event.keyCode
            if ($(this).val().length != 6) {
                $('#ACC_DATE').val("");
                $("#ACC_V").show();
            }
            else {
                $('#ACC_DATE').val($(this).val());
                $("#ACC_V").hide();
            }
            if (key == 13) {
                $("#itemCode").select2("open");
            }
            if (key == 8)
                $(this).val('')
            if ($(this).val().length == 3)
                $(this).val($(this).val() + ".");
            else if (key == 110 || key == 190)
                $(this).val($(this).val().substring(0, $(this).val().length - 1));
            $(this).val($(this).val().replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g, ''));

        });
        // 備註控制
        $('#REMARK_input').on('keydown', function () {
            $('#REMARK1').val($(this).val());
            var key = event.keyCode
            if (key == 13) {
                if ($('#TRN_DATE').val() != "" && $('#CODE').val() != "" && $('#ACC_DATE').val() != "") {
                    $("#TRN_DATE_txt").html("出貨日期: " + $('#TRN_DATE').val())
                    $("#ACC_DATE_txt").html("收款月份: " + $('#ACC_DATE').val())
                    $("#FACT_CODE_txt").html("客戶編號: " + $('#CODE').val())
                    $("#TAX_txt").html("稅&emsp;&emsp;率: " + $('#TAX').val() + ".00%")
                    $("#PAY_WAY_txt").html("付款方式: " + $('#PAY_WAY').val())
                    $("#REMARK_txt").html("備&emsp;&emsp;註: " + $('#REMARK1').val())
                    $("#control_I").show();
                    itemEnable = true;
                }

            }
        });
        // 客戶號碼控制
        $("#itemCode").select2({
            dropdownCssClass: "dropdownCssClass",
            containerCssClass: "containerCssClass",
            maximumInputLength: 10,
            dropdownAutoWidth: true,
            ajax: {
                url: "/api/Factory",
                dataType: 'json',
                delay: 250,
                type: 'post',
                data: function (params) {
                    return {
                        FACT_CODE: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    var select2data = $.map(data, function (obj) {
                        obj.id = obj.id || obj.FACT_CODE;
                        obj.text = obj.text || obj.FACT_NAME;
                        return obj;
                    });
                    params.page = params.page | 1;
                    return {
                        results: select2data,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    }

                },
                cache: true
            },
            escapeMarkup: function (markup) {
                return markup;
            },
            templateResult: CformatRepo,
            templateSelection: CformatRepoSelection,
            "language": {
                "noResults": function () {
                    return "查無結果";
                }
            }
        });
        $('#itemCode').on('select2:select', function (e) {
            var data = e.params.data;
            // Give Form Value
            $('#CODE').val(data.FACT_CODE);
            if (data.TELEPHONE.length > 14)
                $('#TELEPHONE').html("電&emsp;&emsp;話: " + data.TELEPHONE.substring(0, 14) + "...");
            else
                $('#TELEPHONE').html("電&emsp;&emsp;話: " + data.TELEPHONE);
            $('#ATTENTION').html("聯 絡 人: " + data.ATTENTION);
            $('#UNIFORM').html("統一編號: " + data.UNIFORM);
            $('#FACT_NAME').html("客戶名稱: " + data.FACT_NAME);
            $('#TAX').val(5);
            $('#PAY_TXT').html("付款方式: " + data.PAY_WAY);
            $('#PAY_WAY').val(data.PAY_WAY);
            $("#TAXSelect").select2("open");
            $("#FACT_V").hide();
        });
        function CformatRepo(repo) {
            if (repo.loading) return "搜尋中...";
            repo.id = repo.FACT_CODE;
            repo.text = repo.FACT_NAME;
            var markup = '<div class="container-fluid">' +
                '<div class="row">' +
                '<div class="col-4">' + repo.FACT_CODE + '</div>' +
                '<div class="col-8">' + repo.FACT_NAME + '</div>' +
                '</div>';
            markup += '</div>';
            return markup;
        }
        function CformatRepoSelection(repo) {

            return repo.id;
        }
        // 稅率
        var tax_row = [{ id: 5, text: "5.00%" }, { id: 0, text: "0.00%" }]
        $("#TAXSelect").select2({
            data: tax_row,
            dropdownCssClass: "dropdownCssClass",
            containerCssClass: "containerCssClass"
        });
        $('#TAXSelect').on('select2:select', function (e) {
            // Give Form value
            var data = e.params.data;
            $('#TAX').val(Number(data.id));
            $("#REMARK_input").focus();
        });
        $('#TAXSelect').on("select2:close", function () { $("#REMARK_input").focus(); })
    });
    $(document).ready(function () {
        var ITEM_COUNT = 0;
        var selectEnable = false;
        var $table = $('#table')
        $('#table').on('reset-view.bs.table', function () {
            if (selectEnable)
                selectItemControl()
        })
        if (navigator.userAgent.indexOf("MSIE") > 0) {
            //IE
            document.onkeyup = function () {
                switch (event.keyCode) {
                    case 27:
                        window.location.href = '/PURCHASE/Index';
                        break;
                    case 119:
                        if (selectEnable == false && itemEnable == true) {
                            appendITEM();
                            $("#selectItem").select2("open");
                        }
                        break;
                }
            }
        }
        else {
            window.onkeyup = function () {
                var keycode = event.keyCode;
                switch (keycode) {
                    case 27:
                        window.location.href = '/PURCHASE/Index';
                        break;
                    case 119:
                        if (selectEnable == false && itemEnable == true) {
                            appendITEM();
                            $("#selectItem").select2("open");
                        }
                        break;
                }
                if (keycode == 113) {
                    var arr = []
                    var data = JSON.parse(JSON.stringify($("#table").bootstrapTable('getData')))
                    if (data.length == 0) {
                        arr.push({
                            TRN_NO: $("#TRN_NO").val(),
                            INV_NO: $("#INV_NO").val(),
                            TRN_DATE: $("#TRN_DATE").val(),
                            CODE: $("#CODE").val(),
                            ACC_DATE: $("#ACC_DATE").val(),
                            TAX: $("#TAX").val(),
                            ACC_YN: $("#ACC_YN").val(),
                            PAY_WAY: $("#PAY_WAY").val(),
                            REMARK1: $("#REMARK1").val(),
                            SUMAMT: $("#SUMAMT").html(),
                            TAXAMT: $("#TAXAMT").html(),
                            TOTAMT: $("#TOTAMT").html(),
                            AMO1: $("#AMO1").val(),
                            AMO2: $("#AMO2").val(),
                            AMO3: $("#AMO3").val()

                        })
                    }
                    else {
                        for (var i = 0; i < data.length; i++) {
                            arr.push(
                                {
                                    TRN_NO: $("#TRN_NO").val(),
                                    INV_NO: $("#INV_NO").val(),
                                    TRN_DATE: $("#TRN_DATE").val(),
                                    CODE: $("#CODE").val(),
                                    ACC_DATE: $("#ACC_DATE").val(),
                                    TAX: $("#TAX").val(),
                                    ACC_YN: $("#ACC_YN").val(),
                                    PAY_WAY: $("#PAY_WAY").val(),
                                    REMARK1: $("#REMARK1").val(),
                                    SUMAMT: $("#SUMAMT").html(),
                                    TAXAMT: $("#TAXAMT").html(),
                                    TOTAMT: $("#TOTAMT").html(),
                                    ITEM_NO: data[i]['ITEM_NO'],
                                    PRICE: data[i]['PRICE'],
                                    QTY: data[i]['QTY'],
                                    AMOUNT: data[i]['AMOUNT'],
                                    ORD_NO: data[i]['ORD_NO'],
                                    AMO1: $("#AMO1").val(),
                                    AMO2: $("#AMO2").val(),
                                    AMO3: $("#AMO3").val()
                                })
                        }
                    }
                    console.log(arr);
                    if (arr.length > 0) {
                        $.ajax({
                            type: "post",
                            url: "/api/PurchaseInsert",
                            contentType: 'application/json',
                            data: JSON.stringify(arr),
                            success: function (data, status) {
                                var date = new Date();
                                date.setTime(date.getTime() + (1 * 24 * 60 * 60 * 1000));
                                var expires = "; expires=" + date.toGMTString();
                                document.cookie = "PTRN_NO=" + $("#TRN_NO").val() + expires + "; path=/";
                                window.location.href = '/Purchase/Index';
                            }
                        });
                    }

                }
            }
        }
        var ITEM_COUNT
        function appendITEM() {
            ITEM_COUNT += 1;
            selectEnable = true;
            var new_rows = [{
                id: ITEM_COUNT,
                ITEM_NO: '<select id="selectItem" style="width:250px;"></select>',
                ITEM_NAME: '',
                PRICE: '',
                QTY: '',
                AMOUNT: '',
                ORD_NO: '',
                delete: ''
            }];
            $table.bootstrapTable('append', new_rows);
            $(document).on("click", '#del_btn', function () {
                var row_data = JSON.parse(JSON.stringify($table.bootstrapTable('getRowByUniqueId', $(this).attr('name'))))
                var AMOUNT = Number(row_data['AMOUNT'])
                var ITEM_NO = row_data['ITEM_NO']
                var SUMAMT = Number($("#SUMAMT").html()) - AMOUNT
                var TAX = Number($("#TAX").val())
                var TAXAMT = Number(Math.round(SUMAMT * (TAX / 100)))
                var TOTAMT = Number(TAXAMT + SUMAMT)
                $("#SUMAMT").html(SUMAMT)
                $("#TAXAMT").html(TAXAMT)
                $("#TOTAMT").html(TOTAMT)
                switch (ITEM_NO.charAt(0)) {
                    case "1":
                        $("#AMO1").val(Number($("#AMO1").val()) - AMOUNT)
                        break
                    case "2":
                        $("#AMO2").val(Number($("#AMO2").val()) - AMOUNT)
                        break;
                    case "3":
                        $("#AMO3").val(Number($("#AMO3").val()) - AMOUNT)
                        break;
                }
                $table.bootstrapTable('removeByUniqueId', $(this).attr('name'))
            })
        }
        // Select控制
        function selectItemControl() {
            $("#selectItem").select2({
                dropdownCssClass: "dropdownCssClass",
                containerCssClass: "containerCssClass",
                maximumInputLength: 10,
                dropdownAutoWidth: true,
                ajax: {
                    url: "/api/FactItemWithName",
                    dataType: 'json',
                    delay: 250,
                    type: 'post',
                    data: function (params) {
                        return {
                            ITEM_NO: params.term, // search term
                            FACT_CODE: $('#CODE').val(),
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        var select2data = $.map(data, function (obj) {
                            obj.id = obj.id || obj.ITEM_NO;
                            obj.text = obj.text || obj.ITEM_NAME;
                            return obj;
                        });
                        params.page = params.page | 1;
                        return {
                            results: select2data,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        }

                    },
                    cache: true
                },
                escapeMarkup: function (markup) {
                    return markup;
                },
                templateResult: CformatRepo,
                templateSelection: CformatRepoSelection,
                "language": {
                    "noResults": function () {
                        return "查無結果";
                    }
                }
            });
            $("#selectItem").on('select2:select', function (e) {
                var data = e.params.data;
                $table.bootstrapTable('updateByUniqueId', {
                    id: ITEM_COUNT,
                    row: {
                        ITEM_NAME: data.ITEM_NAME,
                        ITEM_NO: data.ITEM_NO,
                        PRICE: '<input id="PRICE_inp"style="width:150px" type="number" value="' + data.L_PRICE + '"/>',
                        QTY: '<input id="QTY_inp"style="width:150px" type="number" value="1"/>',
                        AMOUNT: '',
                        ORD_NO: '<input id="ORD_NO_inp"style="width:150px" type="text" />'
                    }
                })
                $("#Item_history").html("上次進價:" + data.L_PRICE + " 庫存:" + data.L_QTY);
                $("#Item_history").show();
                $("#PRICE_inp").select();
                $('#PRICE_inp').on('keydown', function () {
                    var key = event.keyCode
                    if (key == 13) {
                        $("#QTY_inp").focus();
                    }
                });
                $('#QTY_inp').on('keydown', function () {
                    var key = event.keyCode
                    if (key == 13) {
                        $("#ORD_NO_inp").select();
                    }
                });
                $('#ORD_NO_inp').on('keydown', function () {
                    var key = event.keyCode
                    if (key == 13) {
                        if ($("#PRICE_inp").val() == "") {
                            alert("請填寫單價")
                            $("#PRICE_inp").select();
                        }
                        else if ($("#QTY_inp").val() == 0) {
                            alert("請填寫數量")
                            $("#QTY_inp").select();
                        }
                        else if ($("#PRICE_inp").val() == "" && $("#QTY_inp").val() == "") {
                            alert("請填寫單價與數量")
                            $("#PRICE_inp").select();
                        }
                        else {
                            var AMOUNT = Number($("#QTY_inp").val()) * Number($("#PRICE_inp").val())
                            var TAX = Number($("#TAX").val())
                            var SUMAMT = Number($("#SUMAMT").html()) + AMOUNT
                            var TAXAMT = Math.round(SUMAMT * (TAX / 100))
                            var TOTAMT = Number(TAXAMT + SUMAMT)

                            $("#SUMAMT").html(SUMAMT)
                            $("#TAXAMT").html(TAXAMT)
                            $("#TOTAMT").html(TOTAMT)
                            switch (data.ITEM_NO.charAt(0)) {
                                case "1":
                                    $("#AMO1").val(Number($("#AMO1").val()) + Number(AMOUNT))
                                    break
                                case "2":
                                    $("#AMO2").val(Number($("#AMO2").val()) + Number(AMOUNT))
                                    break;
                                case "3":
                                    $("#AMO3").val(Number($("#AMO3").val()) + Number(AMOUNT))
                                    break;
                            }
                            $table.bootstrapTable('updateByUniqueId', {
                                id: ITEM_COUNT,
                                row: {
                                    PRICE: $("#PRICE_inp").val(),
                                    QTY: $("#QTY_inp").val(),
                                    AMOUNT: AMOUNT,
                                    ORD_NO: $("#ORD_NO_inp").val(),
                                    delete: '<button id="del_btn" name=' + ITEM_COUNT + ' type="button" class="btn btn-danger btn-lg">刪除</button>'
                                }
                            })
                            $("#Item_history").hide();
                            selectEnable = false;
                        }
                    }
                });
            });

        }
        function CformatRepo(repo) {
            if (repo.loading) return "搜尋中...";
            repo.id = repo.ITEM_NO;
            repo.text = repo.ITEM_NAME;
            var markup = '<div class="container-fluid">' +
                '<div class="row">' +
                '<div class="col-4">' + repo.ITEM_NO + '</div>' +
                '<div class="col-8">' + repo.ITEM_NAME + '</div>' +
                '</div>';
            markup += '</div>';
            return markup;
        }
        function CformatRepoSelection(repo) {

            return repo.id;
        }



    });
</script>